In [9]:
import pandas as pd
import numpy as np

In [12]:
tmp = {
  "UserIds": [1, 1242],
  "MovieIds": [44,55,66]
}

In [13]:
tmp.UserIds

AttributeError: 'dict' object has no attribute 'UserIds'

In [5]:
x_df = pd.DataFrame(tmp, index=[0])

In [6]:
x_df

   UserIds  MovieIds
0        1       100

In [10]:
user_ids = [1, 1242]  # Replace with user IDs you want to make recommendations for
movie_ids = [44,55,66]  # Replace with movie IDs you want to recommend
user_movie_combinations = [
    (user_id, movie_id) for user_id in user_ids for movie_id in movie_ids
]
user_movie_combinations = np.array(user_movie_combinations)

In [11]:
user_movie_combinations

array([[   1,   44],
       [   1,   55],
       [   1,   66],
       [1242,   44],
       [1242,   55],
       [1242,   66]])